# Demographics Recoding Examples

In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

### Simulate some data

In [2]:
df <- data.frame(
  PIDM = 1:50,
  gender = sample(c('M','W','N'), 50, replace = TRUE),
  raceethn = sample(c('Non-Resident Alien', 'Hispanic', 'American Indian or Alaskan Native',
  'Asian', 'Black or African American','White', 'More Than One Race', 'Unknown'),
  50, replace = TRUE)
)

head(df)

  PIDM gender raceethn
1 1    M      Black or African American
2 2    W      American Indian or Alaskan Native
3 3    M      American Indian or Alaskan Native
4 4    W      More Than One Race
5 5    M      Black or African American
6 6    W      American Indian or Alaskan Native

In [3]:
table(df$gender, useNA = 'ifany')

 M  N  W
18 16 16

In [4]:
table(df$raceethn, useNA = 'ifany')

American Indian or Alaskan Native                             Asian
                                6                                 8
        Black or African American                          Hispanic
                                6                                 5
               More Than One Race                Non-Resident Alien
                                8                                 7
                          Unknown                             White
                                8                                 2

### Example 1: Simple substitution

In [5]:
df %>%
  mutate(gender = case_match(gender,
  "W" ~ "F",
  .default = gender
  )
  ) %>%
    count(gender)

  gender n
1 F      16
2 M      18
3 N      16

### Example 2: Create levels for Race/Ethnicity even when they don't exist in the data

In [6]:
df$raceethn <- factor(df$raceethn) # must be a factor first for this to work !!!
df$FedRace <- factor(df$raceethn, levels = c(levels(df$raceethn), "Pac Isl"))

table(df$FedRace)

American Indian or Alaskan Native                             Asian
                                6                                 8
        Black or African American                          Hispanic
                                6                                 5
               More Than One Race                Non-Resident Alien
                                8                                 7
                          Unknown                             White
                                8                                 2
                          Pac Isl
                                0