# Create Fake Employee Data

Example use of the [faker](https://faker.readthedocs.io/en/master/) package in Python to simulate employee data

In [1]:
# pip install faker
# pip install pandas
from faker import Faker
import pandas as pd

In [5]:
Faker.seed(42)

fake = Faker(locale='en_US')

# add further items and customizations here
fake_workers = [
    {'emp_id': '',
     'emp_name': fake.name(),
     'emp_address': fake.address(),
     'emp_dob': fake.date_between(start_date='-60y', end_date='-20y'),
     'emp_salary': fake.random_number(digits=6, fix_len=5),
     'emp_gender': fake.random_element(elements=['M', 'F']),
     'emp_status': fake.random_element(elements=['Active', 'Terminated', 'Resigned'])
    }
    for x in range(100)]

In [6]:
df = pd.DataFrame(fake_workers)

df['emp_id'] = range(101, 201)

df.head()

,emp_id,emp_name,emp_address,emp_dob,emp_salary,emp_gender,emp_status
0,101,Allison Hill,"819 Johnson Course\nEast William, AK 74064",1972-02-18,781453,F,Active
1,102,Donald Booth,"654 Jason Track\nCurtisfurt, CT 47553",1998-01-28,733052,F,Active
2,103,Kimberly Dudley,"959 Janet Cape Apt. 413\nSouth Joshuastad, GA ...",1978-05-22,802729,F,Resigned
3,104,Maria Lynch,"76483 Cameron Trail\nEast Lydiamouth, MO 35594",1966-10-29,694731,F,Active
4,105,Jennifer Rocha,"38849 Hurst Locks Suite 328\nDaviston, VI 14872",1970-04-17,267753,F,Resigned