# Creating a "Grade Distribution" from a Grades File

In [3]:
library('tidyverse')

### Simulate some data  

Assume repeating rows data

In [4]:
df <- tribble(
  ~Student, ~Subject, ~CourseNumber, ~FinalGrade,
  1,'BIOL',101,'C-',
  1,'MATH',101,'B-',
  2,'ENGL',201,'B+',
  2,'SPAN',201,'A-',
  2,'BIOL',201,'A-',
  3,'SPAN',201,'A-',
  3,'BIOL',101,'A',
  1,'HIST',210,'B',
)

df

  Student Subject CourseNumber FinalGrade
1 1       BIOL    101          C-
2 1       MATH    101          B-
3 2       ENGL    201          B+
4 2       SPAN    201          A-
5 2       BIOL    201          A-
6 3       SPAN    201          A-
7 3       BIOL    101          A
8 1       HIST    210          B

### Solution using Base R

In [5]:
df$Course <- paste(df$Subject, df$CourseNumber)

# df$FinalGrade <- ifelse(df$FinalGrade %in% c(), 'A', df$FinalGrade) # example for recoding any errant values
# df$FinalGrade <- factor(df$FinalGrade, levels = c()) # specify the correct order of grades

# produce the grade distribution
gd <- as.data.frame.matrix(table(df$Course, df$FinalGrade))

gd

         A A- B B- B+ C-
BIOL 101 1 0  0 0  0  1
BIOL 201 0 1  0 0  0  0
ENGL 201 0 0  0 0  1  0
HIST 210 0 0  1 0  0  0
MATH 101 0 0  0 1  0  0
SPAN 201 0 2  0 0  0  0